@media screen and (min-width: 992px) and (max-width: 1200px) {
#sidebar .sidebar-header img {width: 115px;}
.line-1 {margin: 31px 0 0 0;}
#sidebar ul li a {padding: 7px 10px; font-size: 12px;}
.search-box input {width: 100%;}
.search-box::after {position: absolute; right: 0; top: 0; padding: 7px 15px 5px 9px;}
.main-btn input {padding: 7px 24px;}
.top-icon ul li {margin-right: 10px;}
.top-icon ul li a {width: 95px; height: 95px; line-height: 95px;}
.top-icon ul li a img {width: 65px;}
#left::before {display: none !important;}
#left::after {display: none !important;}
}

@media screen and (min-width: 768px) and (max-width: 991px) {
#sidebar .sidebar-header img {width: 100px;}
#sidebar {width: 25%;}
#content {width: 100%;}
.line-1 {margin: 39px 0 0 0;}
.line-1.branch-line {margin-top: 30px;}
.form-btn {margin-bottom: 20px; margin-top: 20px;}	
.mangement-btn {width: 210px;}
.main-btn input {padding: 5px 14px; margin: 0 2px; font-size: 16px;}
.search-box input {width: 100%; padding: 6px 38px 6px 12px;}
.search-box::after {padding:5px 12px 4px 9px; font-size: 18px; position:absolute; right:0px; top:0px;}
.table-section ul li:nth-child(1) {width: 6%;}
.table-section ul li:nth-child(2) {width: 27%;}
.table-section ul li:nth-child(3) {width: 27%;}
.table-section ul li {font-size: 16px;}
.form-btn input {width: 100px; padding: 6px 8px; font-size: 16px;}
.branch-form {width: 290px;}
.form-btn.branch-form-btn {margin: 10px 0 15px 0;}
.top-icon ul li {margin-right: 10px;}
.top-icon ul li a {width: 80px; height: 80px; line-height: 80px;}
.top-icon ul li a img {width: 45px;}
.top-icon ul li p {font-size: 10px;}
#left::before {display: none !important;}
#left::after {display: none !important;}
}
@media screen and (min-width: 481px) and (max-width: 767px) {
#sidebar {margin-left: -270px; width:270px; transition: all 0.5s;}
#content {width: 100%; padding: 15px;}
.form-section {padding: 15px;}
#sidebar.active {margin-left: 0; transition: all 0.5s;}
#sidebarCollapse span {display: none;}	
.prices-padding {padding-top: 47px;}
.navbar-header {display:block;}
#sidebar .sidebar-header img {width: 100px;}
#sidebar ul li a {padding: 6px 10px; font-size: 13px;}
.line-1 {margin: 31px 0 0 0;}
#sidebarCollapse {padding: 4px 10px;}
.checkbox-box-with {width: 33.3%;}
.form-btn {margin-bottom: 25px; margin-top: 15px;}
.line-1.branch-line {margin-top: 30px;}
.form-text {width: 90%;}
.form-typ-box input {width: 100%;}
.btn-group.bootstrap-select.show-tick.form-control {width: 100%;}
.form-typ-box textarea {width: 100%;}
input[type="checkbox"].css-checkbox + label.css-label.table-ckeckbox {padding-left: 0; background-size:16px !important;}
.mangement-btn {width: 190px;}
.mangement-btn h2 {font-size:16px;}
.form-btn input {width: 94px; font-size: 15px; margin: 0 3px; padding: 5px 8px;}
.main-btn {margin: 15px 0 20px 0;}
.search-box {margin: 25px 0 0 0;}
.table-section ul li:nth-child(1) {width: 6%;}
.table-section ul li:nth-child(2) {width: 30%;}
.table-section ul li:nth-child(3) {width: 30%;}
.table-section ul li:nth-child(4) {width: 17%;}
.table-section ul li:nth-child(5) {width: 17%;}
.table-section ul li {font-size: 10px; height: 36px; line-height: 36px;} 
.main-btn input {font-size: 11px; padding: 7px 10px; margin: 0 2px; width: 65px; text-align: center;}
.search-box input {width: 180px; font-size: 14px; padding: 7px 38px 7px 12px;}
.search-box::after {padding:9px 12px 8px 9px; font-size: 16px; right:40px; top:1px;}
.table-section ul.second-checkbox li:nth-child(5) img {width: 18px;}
.table-section ul li:nth-child(1) img {width: 16px;}
input[type="checkbox"].css-checkbox + label.css-label {padding-left: 24px; font-size: 11px;}
.right-screen-box {width: 100%;}
.branch-form {width: 246px;}
.form-btn.branch-form-btn {margin: 5px 0 15px 0;}
.top-icon {margin-top: 20px;}
.top-icon ul li a {width: 80px; height: 80px; line-height: 80px;}
.top-icon ul li a img {width: 55px;}
.top-icon ul li p {font-size: 10px;}
.top-icon ul li {margin-right: 6px;}
.search-box {margin: 30px 0 0 0;}
.main-btn {margin: 20px 0 10px 0;}
#left::before {display: none !important;}
#left::after {display: none !important;}
.table-form tr th img {width: 16px;}
.table-form tr th {font-size: 14px;}
.table-form tr td {font-size:15px;}
.table-form tr td img {width: 20px;}
.navbar-custom-menu .navbar-nav {margin:0px;}
.navbar-custom-menu .navbar-nav .dropdown.user.user-menu a {font-size:13px;}
.form-typ-box {width: 90%;}
}
@media screen and (min-width: 320px) and (max-width: 480px) {
.main-back {width: 280px;}
.login-screen {width: 240px;}
.logo {margin: 35px 0 23px 0;}
.login-form {margin-bottom: 40px;}	
#sidebar {margin-left: -270px; width:240px; transition: all 0.5s;}
#content {width: 100%; padding: 15px;}
.form-section {padding: 15px; margin-top: 15px;}
#sidebar.active {margin-left: 0; transition: all 0.5s;}
#sidebarCollapse span {display: none;}	
.prices-padding {padding-top: 47px;}
.navbar-header {display:block;}
#sidebar .sidebar-header img {width: 100px;}
#sidebar ul li a {padding: 6px 10px; font-size: 13px;}
.line-1 {margin: 12px 0 0 0;}
#sidebarCollapse {padding: 4px 10px;}
.checkbox-box-with {width: 33.3%;}
.form-btn {margin-bottom: 15px; margin-top: 10px;}
.line-1.branch-line {margin-top: 30px;}
.form-text {width: 100%;}
.form-typ-box input {width: 100%;}
.btn-group.bootstrap-select.show-tick.form-control {width: 100%;}
.form-typ-box textarea {width: 100%;}
input[type="checkbox"].css-checkbox + label.css-label {padding-left: 20px; font-size: 12px; background-size:14px; line-height:16px;}
input[type="checkbox"].css-checkbox:checked + label.css-label {background-size: 14px;}
input[type="checkbox"].css-checkbox + label.css-label.table-ckeckbox {padding-left: 0px; font-size: 12px; width: 14px !important;}
.mangement-btn {width: 190px; height: 36px;}
.mangement-btn h2 {font-size: 16px; line-height: 36px;}
.form-btn input {width: 85px; font-size: 14px; margin:0 2px; padding: 4px 8px;}
#content.active-2 {margin-right: 0px; overflow: hidden;}
.left-form {width: 100%;}
.right-form {width: 100%;}
.branch-box {margin-top: 20px;}
.main-btn {margin: 15px 0 5px 0;}
.search-box {margin: 20px 0 0 0;}
.table-section ul li:nth-child(1) {width: 8%;}
.table-section ul li:nth-child(1) img {width: 14px;}
.table-section ul li:nth-child(2) {width: 29%;}
.table-section ul li:nth-child(3) {width: 29%;}
.table-section ul li:nth-child(4) {width: 17%;}
.table-section ul li:nth-child(5) {width: 17%;}
.table-section ul li {font-size: 10px; height: 36px; line-height: 36px;}  
.main-btn input {font-size: 12px; padding: 6px 10px; margin:0px; width: 69px; text-align: center;}
.search-box input {width: 180px; font-size: 14px; padding: 7px 38px 7px 12px;}
.search-box::after {padding:10px 12px 7px 9px; font-size: 16px; right:40px; top:2px;}
.table-section ul.second-checkbox li:nth-child(5) img {width: 16px;}
.right-screen-box {width:100%; float:left; overflow:hidden; position:absolute;}
.right-screen-box {width:100%; float:left; overflow:hidden; position:absolute;}
#content { position:relative; right:0px; transition:all 0.5s;}
#content.active-2 {right:-240px; transition:all 0.5s;}
.table-section {margin-bottom: 15px;}
.login-form input.login-btn {font-size: 15px;}
.branch-form {width: 100%;}
.form-btn.branch-form-btn {margin: 2px 0 10px 0;}
.top-icon {margin-top: 15px;}
.top-icon ul li a {width: 65px; height: 65px; line-height: 65px;}
.top-icon ul li a img {width: 45px;}
.top-icon ul li p {font-size: 9px;}
.top-icon ul li {margin-right: 5px;}
#left::before {display:none !important;}
#left::after {display:none !important;}
.support-box ul {padding: 0 0 0 30px;}
.support-box p {font-size: 13px;}
.support-box ul li {font-size: 13px;}
.download-text ul li a {font-size: 14px;}
.download-text ul li {margin: 8px 0;}
.table-form tr th img {width: 14px;}
.table-form tr th {font-size: 14px;}
.table-form tr td {font-size:14px;}
.table-form tr td img {width: 20px;}
.paggination-section {text-align:center;}
.navbar-custom-menu .navbar-nav {margin:0px;}
.navbar-custom-menu .navbar-nav .dropdown.user.user-menu a {font-size:13px;}
.table-form {overflow: auto;}

.form-typ-box {width: 100%;}
}
