body {padding: 0px; margin:0px; background: #fff; font-family: 'Raleway', sans-serif;}
.clearfix {clear: both;}
a:focus { text-decoration: none !important; }
a:focus, a:hover { color: #ccc; text-decoration: none !important; }
a, .button, input { outline: medium none !important; color: #ccc; }
h1, h2, h3, h4, h5, h6 {font-weight: normal; color: #333333; margin-top: 0px; margin-bottom: 0px; }
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { color: inherit; }
h1 { font-size: 40px; font-style: normal;}
h2 { font-size: 36px; font-style: normal;}
h3 { font-size: 32px; font-style: normal;}
h4 { font-size: 34px; font-style: normal; color:#fff;}
h5 { font-size: 24px; font-style: normal; color: #fff; margin: 0px;}
h6 { font-size: 18px; font-style: normal;}
p  {font-size:14px; color: #ccc; margin: 0px;}
.lead { font-size: 16px; line-height: 24px; margin: 0; }
ul { margin: 0px; padding: 0px; }
li { list-style: none; }
hr { margin: 0; padding: 0px; border-bottom: 1px solid #e0e0e0; border-top: 0px; }
div.form-typ-box label { font-size: 15px; font-weight: 400; float: left; }
.label { color: #fff !important; font-size: 9px !important; }
blockquote { border-left: 5px solid #4ac4f3; font-size: 16px; }
*::-moz-selection { background: #4ac4f3; color: #fff; text-shadow: none; }
::-moz-selection { background: #4ac4f3; color: #fff; text-shadow: none; }
::selection { background: #4ac4f3; color: #fff; text-shadow: none; }
.valign, .valign > [class*='col-'] { display: table-cell; float: none; }
[data-valign-overlay="top"] { vertical-align: top; }
[data-valign-overlay="bottom"] { vertical-align: bottom; }
[data-valign-overlay="middle"] { vertical-align: middle; }
.no-gutter > [class*='col-'] { padding-right: 0; padding-left: 0; }
.row-eq-height { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; }
.no-padding { padding: 0px !important; }
.no-border { border: none !important; }
.main-back {width: 420px; margin:0; background: #fff; position:fixed; left:50%; right:0px; top:50%; 
	box-shadow: 0px 2px 14px 0px rgba(200, 200, 200, 0.5); transform: translate(-50%, -50%);}
.main-back .back-clr {width: 100%; float: left; background:url(../images/back-img.png) no-repeat top center; background-size:cover; background-size:cover;}
.login-screen {width: 280px; margin:0px auto;}
.logo {width: 100%; float: left; margin:70px 0 25px 0; text-align: center;}
.logo a img {width:180px;}
.login-form {width: 100%; float: left; margin-bottom:70px; text-align:center;}
.login-form input {width: 100%; background: #e7e7e7; color: #ff975b; font-size: 14px; padding:8px 18px 8px 18px; border: 0px; border-radius: 50px; line-height: 20px; margin-bottom: 8px; outline:none !important; box-shadow:none;}
.login-form input:focus{outline:none !important; background:#e7e7e7 !important; border:0px !important;}

.login-form input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #ff975b; opacity: 1;
}
.login-form input::-moz-placeholder { /* Firefox 19+ */
  color: #ff975b; opacity: 1;
}
.login-form input:-ms-input-placeholder { /* IE 10+ */
  color: #ff975b; opacity: 1;
}
.login-form input:-moz-placeholder { /* Firefox 18- */
  color: #ff975b; opacity: 1;
}
.login-form input.login-btn {background:#ff975b !important; color: #fff; font-size: 16px; text-align: center; padding: 8px 30px 8px 30px; margin: 3px auto 0; text-transform:capitalize; width:auto; display: block;}
.login-form a {
	background: #ff975b !important;
	color: #fff;
	font-size: 18px;
	text-align: center;
	padding: 6px 30px 6px 30px;
	margin: 11px 0 0 0;
	text-transform: capitalize;
	display: inline-block;
	border-radius: 50px;
}

.mangement-btn {width: 230px; float:left; background: #ff975b; border-radius:0; 
box-shadow: 3px 2px 10px -2px rgba(0,0,0,0.5); height: 38px;}
.mangement-btn h2 {color: #fff; font-size: 18px; text-transform: capitalize; font-weight: 500; line-height: 38px; padding-left: 10px;}
.mangement-btn h2 img {width: 30px; position: relative; top: -2px; right: 4px;}
.form-section {width:100%; float:left; margin-top:20px; background:#ff975b; padding:23px 23px; margin-bottom:0; 
-webkit-box-shadow: 2px 2px 5px 0px #000000; 
box-shadow: 2px 2px 5px 0px #000000;
}
.form-box {width: 100%; margin-bottom: 15px; float:left; text-align:center;}
.form-text {width: 75%; float:none; display:table; margin:0px auto 8px; text-align:left;}
.form-text h5 {color: #fff; font-size: 14px; text-transform: capitalize; font-weight:500;}
.form-text h5 span {
		font-size: 22px;
		padding-left: 2px;
		height: 12px;
		display: inline-block;
		position: relative;
		top: 4px;
}

.form-typ-box {width: 75%; margin: 0px auto; display: table;}
.form-typ-box input {width: 100%; height: 34px; padding: 0 10px 0 10px; margin: 0px; border: 0px; color:#ff975b; font-size:14px;}

.form-typ-box input.browser-btn {position: relative; z-index: 1; background: #fff;}

.form-typ-box.zone-box.browser-box {width: 100%; height: 34px;}

.form-typ-box.zone-box.browser-box.sl-img {position: relative;}
.form-typ-box.zone-box.browser-box img {position: absolute; top: -21px; right: -103px; width: 83px;}

.form-typ-box input::-moz-placeholder { /* Firefox 19+ */
  color: #ff975b; opacity: 1;
}
.form-typ-box input:-ms-input-placeholder { /* IE 10+ */
  color: #ff975b; opacity: 1;
}
.form-typ-box input:-moz-placeholder { /* Firefox 18- */
  color: #ff975b; opacity: 1;
}
.btn-group.bootstrap-select.show-tick.form-control {
	width: 100%;
}
.bootstrap-select > .dropdown-toggle {
	height: 34px;
	border: 0px;
	border-radius: 0px;
	outline: none;
	padding: 5px 5px 5px 10px !important;
	background: #fff;
}
.form-typ-box.select-text .bootstrap-select > .dropdown-toggle{padding: 5px 5px 5px 20px;}

.bootstrap-select.btn-group .dropdown-toggle .filter-option {
	font-size: 14px;
	color:#ff975b;
	font-family: 'Raleway', sans-serif;
	box-shadow: none;
	outline: none;
	text-transform: capitalize;
	font-weight: 400;
}
.btn.dropdown-toggle.btn-default:hover {
	background: #fff;
}
.btn.dropdown-toggle.btn-default.actice {
	background: #fff;
}
.btn.dropdown-toggle.btn-default:focus {
	background: #fff;
	outline: none !important;
	box-shadow: none;
}
.btn-group.open .dropdown-toggle {
	-webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
	box-shadow: none;
	padding: 5px 5px 5px 40px;
}
.bootstrap-select .dropdown-toggle:focus {
	outline: none !important;
}
.btn-default.active, .btn-default:active, .open > .dropdown-toggle.btn-default {
	background-color: #fff;
}
.bootstrap-select.btn-group .dropdown-toggle .caret {
border-top: 8px dashed #ff975b;
border-right: 6px solid transparent;
border-left: 6px solid transparent;
border-bottom: 0px;
top: 14px !important;
right: 10px !important;
margin:0px !important;
}
.dropdown-menu {top: 35px; padding: 0; margin: 0; font-size: 18px; background-color: #fff;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	border: 0; 
	border-radius: 0;
	box-shadow: 2px 2px 3px 0px #000000;
}
.glyphicon.glyphicon-ok.check-mark {display: none !important;}
.dropdown-menu.inner li a {padding: 0 10px; color: #f68b4d;}  
.dropdown-menu.inner li a:hover {background: #f0f0f0 !important;}
.dropdown-menu.inner li a:focus {background: #f0f0f0 !important;}
.bootstrap-select.btn-group.show-tick .dropdown-menu li a span.text {margin-right:0 !important; line-height: 34px !important; font-size:14px;}
.form-btn {width: 100%; text-align: center; margin-bottom: 30px; margin-top:25px;}
.form-btn input {width: 110px; padding: 6px 8px; color: #ff975b; border: 2px solid #ff975b; font-size:16px; background:#fff; text-transform: capitalize; line-height: 20px; border-radius: 30px; text-align: center; margin: 0 3px; font-weight:500;}
.form-btn input:hover {background: #ff975b; color: #fff; border: 2px solid #ff975b;}
.mangement-btn.user-text {display: inline-block; float: none;}
.user-checkall{ float: right; }
.user-checkall a{ color: #ff975b; }
.form-typ-box textarea {width: 100%; border: 0px; font-size:14px; color:#ff975b; font-family: 'Raleway', sans-serif; outline:none; padding:6px 10px 10px 10px; 
margin:0px; text-shadow:none !important; box-shadow:none !important; height:106px;}
.content-scroll{height: 500px;}
.mCSB_dragger_bar:after{position: absolute; left: 0px; right: 0px; background: url(../images/line-img.jpg) no-repeat top center; content:''; height: 18px; width:10px; background-size: 100%; top: 50%; margin:0px auto; }
.body-section {width:100%; float:left;}
.menu-section {width:30%; float:left;}
.box-section {width:70%; float:left;}
#sidebar .sidebar-header {padding:10px 10px; text-align:center;}
#sidebar .sidebar-header img {width:60%;}
#sidebar ul.components {border-bottom:0;}
#sidebar ul li.active > a, a[aria-expanded="true"] {color: #fff !important; background: #ff975b;}
a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {content: '\e259'; display: block; position: absolute; right:15px; top:14px;
font-family: 'Glyphicons Halflings'; font-size:10px;}
#sidebar ul li a:hover {color: #fff; background: #ff975b;}
#sidebar ul li a {padding:7px 12px; font-size: 14px; display: block; color:#ff975b;}
#sidebar ul li.active {color:#fff;}
#sidebar ul li {text-transform:capitalize;}
#sidebar ul li a img {width: 30px; position: relative; left: 0; margin-right: 10px; top: -2px; background:#ff975b;}
.navbar-btn {box-shadow: none !important; outline: none !important; border: none !important; margin:0px; background:#ff7423 !important;}
.navbar-btn:hover {background:#ff7423;}
.navbar-btn:focus {background:#ff7423;}
.navbar-btn i {font-family:fontawesome; font-style:normal; font-style:normal; font-size:18px;}
.navbar-header {width:100%; float: left; display:none;}
#sidebar {width: 20%; background: #f6f6f6; color: #fff; float:left;}
#content {padding: 20px; width:100%; float:left; height:auto; background:url(../images/back-img.png) no-repeat top center; background-size:cover;}
.left-form {width:50%; float:left;}
.right-form {width:50%; float:left}
.line-1 {width:100%; float:left; margin: 46px 0 0 0; position:relative;}
.line-1.download-installer {margin-top: 30px;}
.line-1:after {position:absolute; width:100%; height:1px; background:#ff975b; content:''; left:0px; bottom:0px;}
.line-1.branch-line {margin-top:35px;}
.branch-box {width:100%; float:left; margin-top:25px;}
.branch-section {width:100%; float:left; padding:0px;}
input[type=checkbox].css-checkbox {position:absolute; z-index:-1000; left:-1000px; overflow: hidden; clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0; border:0;}

						input[type=checkbox].css-checkbox + label.css-label {
							padding-left: 24px;
							display: inline-block;
							line-height: 17px;
							background-repeat: no-repeat;
							background-position: 0 0;
							font-size: 14px;
							vertical-align: middle;
							cursor: pointer;
							width: 100%;
							color: #f68b4d;
							margin-bottom:15px;
						}

						input[type=checkbox].css-checkbox:checked + label.css-label {
							background-image:url(../images/checkbox-img-2.jpg);
							background-size:16px;
						}
						label.css-label {
				background-image:url(../images/checkbox-img-1.jpg);
				-webkit-touch-callout: none;
				-webkit-user-select: none;
				-khtml-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
				user-select: none;
				background-size:16px;
			}

.main-btn {width: 100%; float: left; margin: 40px 0 10px 0; text-align:right;}
.main-btn input {display: inline-block; font-size:18px; color: #fff; padding:7px 28px; border-radius:50px; text-transform: capitalize; font-weight: 600; margin: 0 3px;}
.main-btn input.create {background:#5ade6a;}
.main-btn input.active {background:#4a71d2;}
.main-btn input.in-active {background:#f2ad4b;}
.main-btn input.delete {background:#ff5858;}

.main-btn ul {padding: 0px; margin: 0px;}
.main-btn ul li {display: inline-block;}
.main-btn ul li a {display: inline-block; font-size:18px; color: #fff; padding:7px 28px; border-radius:50px; text-transform: capitalize; font-weight: 600; margin: 0 3px;}
.main-btn ul li:nth-child(1) a{background:#5ade6a;}
.main-btn ul li:nth-child(2) a{background:#4a71d2;}
.main-btn ul li:nth-child(3) a{background:#f2ad4b;}
.main-btn ul li:nth-child(4) a{background:#ff5858;}
.search-box {width:100%; float: left; display: block; margin:40px 0 0 0; position: relative;}
.search-box input {width: 220px; font-size: 16px; color: #ff975b; background: #ededed; border: 0px; padding: 9px 45px 9px 15px; border-radius: 30px;}
.search-box:after{position: relative; content:"\f002"; font-family:fontawesome; right: 46px; top: 2px; padding:10px 15px 10px 9px; cursor: pointer;
 font-size:20px; color:#ff975b;}

.search-box input::-moz-placeholder { /* Firefox 19+ */
  color: #ff975b; opacity: 1;
}
.search-box input:-ms-input-placeholder { /* IE 10+ */
  color: #ff975b; opacity: 1;
}
.search-box input:-moz-placeholder { /* Firefox 18- */
  color: #ff975b; opacity: 1;
}
.search-box input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #ff975b; opacity: 1;
}
.search-box input::-moz-placeholder { /* Firefox 19+ */
  color: #ff975b; opacity: 1;
}
.search-box input:-ms-input-placeholder { /* IE 10+ */
  color: #ff975b; opacity: 1;
}
.search-box input:-moz-placeholder { /* Firefox 18- */
  color: #ff975b; opacity: 1;
}
.table-section {width:100%; float: left; border: 2px solid #ff975b; border-top: 0px; margin-bottom:20px;}
.table-section ul{padding: 0px; margin: 0px;}
.table-section ul li {display: inline-block; text-align: center; font-size: 18px; color: #fff; font-weight: 500; background: #ff975b; text-transform: capitalize; height: 40px; line-height: 40px; border-right: 1px solid #fff;}
.table-section ul li:nth-child(1) {width: 4%;}
.table-section ul li:nth-child(1) img {width: 20px;}
.table-section ul li:nth-child(2) {width: 28%;}
.table-section ul li:nth-child(3) {width: 28%;}
.table-section ul li:nth-child(4) {width: 20%;}
.table-section ul li:nth-child(5) {width: 20%; border: 0px;}
.table-ckeckbox {width: 20px !important; padding:0px !important; height: 20px !important; margin: 0px !important; background-size: 100% !important;}
.table-section ul.second-checkbox li {background: transparent; border-right: 1px solid #ff975b; color:#ff975b; float: left;}
.table-section ul.second-checkbox:hover {background: #f7f7f7;}
.table-section ul.second-checkbox li:nth-child(5){border: 0px;}
.table-section ul.second-checkbox li:nth-child(5) img {width: 24px;}
.table-box {width: 100%; float: left;}
.table-box:hover {background:#f7f7f7;}
.right-screen-box {width: 80%; float: left;}
.branch-form {width:360px; float: left;}
.form-text.form-box-width {width: 100%;}
.branch-control {width: 100% !important;}
.form-btn.branch-form-btn {text-align: center; margin: 15px 0 20px 0; float: left;}
.form-btn.branch-form-btn input {border: 2px solid #fff; background: #ff975b; color: #fff;}
.form-btn.branch-form-btn input:hover {border: 2px solid #fff; background: #fff; color: #ff975b;}
.top-icon {width: auto; float: left;}
.top-icon ul {padding: 0px; margin: 0px;}
.top-icon ul li {display: inline-block; margin-right:15px;}
.top-icon ul li a{display: inline-block; width:100px; height: 100px; background: #ff5858; line-height: 100px; text-align: center; transition:all 0.5s;}
.top-icon ul li a:hover {background: #d23a3a; transition:all 0.5s;}
.top-icon ul li a img {width: 70px;}
.top-icon ul li a.report-icon {background:#f2ad4b;}
.top-icon ul li a.report-icon:hover {background:#cb8422;}
.top-icon ul li a.user-icon {background:#5ade6a;}
.top-icon ul li a.user-icon:hover{background:#37ad45;}
.top-icon ul li a.support-icon {background:#4a71d2;}
.top-icon ul li a.support-icon:hover {background:#3257b4;}
.top-icon ul li p{font-size: 12px; color: #ff975b; margin: 0px; text-align: center; padding-top: 2px; text-transform: capitalize;}
#left::before {display: none !important;}
#left::after {display: none !important;}
#nav li .link {
        padding: 7px 12px;
        font-size: 14px;
        display: block;
        color: #fff;
        background: #ff975b;
		height:40px; 
		line-height:26px;
    }
.support-box {width: 100%; float: left;}
.support-box h6 {color: #fff; font-size:20px; font-weight: 600; text-transform: capitalize; margin: 0px;}
.support-box p{font-size: 14px; color:#fff; margin: 0px; font-weight: 500; padding: 10px 0;}
.support-box a{font-size: 13px; color: #fff; margin: 0px; padding-bottom: 10px;}
.support-box ul {padding: 0 0 0 40px; margin: 0px;}
.support-box ul li {display:block; font-size:14px; color:#fff; font-weight: 600; padding: 5px 0;}
.download-text {width: 100%; float: left;}
.download-text ul{padding: 0px; margin: 0px;}
.download-text ul li {display: block; margin: 10px 0;}
.download-text ul li a {font-size: 16px; font-weight: 500; color: #ff975b;} 
.table-form {width:100%; float:left;}
.table-form table {width:100%; border:2px solid #ff975b; border-top:0px;}
.table-form tr th {background:#ff975b; padding:8px; font-size: 18px; color: #fff; font-weight: 500; text-align:center; text-transform:capitalize; border-right:1px solid #fff;}
.table-form tr .td-left{text-align: left;}
.table-form tr th:last-child{border:0px;}
.table-form tr th img {width:20px;}
.table-form tr td {text-align:center; font-size:18px; color:#ff975b; border-right:1px solid #ff975b; text-transform:capitalize; padding:8px;}  
.table-form tr td:last-child {/*border:0px;*/}
.table-form tr td img {width:25px;}
.table-form tr:hover {background:#f7f7f7;}
.paggination-section {width: 100%; float: left; text-align: right; margin: 10px 0 0 0;}
.paggination-section ul {padding: 0px; margin: 0px;}
.paggination-section ul li{display: inline-block; margin-left: 0px;}
.paggination-section ul li a{display: inline-block; font-size: 14px; color: #ff7423; padding: 5px; border: 1px solid #ff7423; height: 30px; width: 30px; line-height: 16px; text-align: center;}
.paggination-section ul li a:hover {background:#ff7423; color: #fff;}
.paggination-section ul li a.active {background:#ff7423; color: #fff;}

/* ---------------------------------------------------
    Book-a-job-page-star
----------------------------------------------------- */
.select-box {display:block; width:100%; background:#fff; border:0; line-height:34px; position:relative; cursor:pointer; height: 34px; color:#ff975b;}
.select-box:after {position:absolute; content:"\f107"; right:10px; font-family:'FontAwesome'; font-size:18px; line-height:34px; top:0; z-index:1; color:#ff975b;}
.select-box select {display:block; width:100%; padding:0 50px 0 10px; background:transparent; border:none; -webkit-appearance: none; -moz-appearance: none; -ms-appearance: none; -o-appearance:none; position:relative; z-index:2; cursor:pointer; height: 34px;}
.select-box select option {width: 100%; background:#fff; color:#ff975b; border: 0px;}  

.form-typ-box.zone-box {width: 100%;}
.btn-bs-file{
    position:relative;
}
.btn-bs-file input[type="file"]{
    position: absolute;
    top: -9999999;
    filter: alpha(opacity=0);
    opacity: 0;
    width:0;
    height:0;
    outline: none;
    cursor: inherit;
}

.navbar-custom-menu .navbar-nav .dropdown.user.user-menu a:hover{background: transparent;}
